
{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}

    <h1>Rango says...</h1>
    <div>
        <!-- personalised header message if user is logged in -->
        {% if user.is_authenticated %}
            howdy {{ user.username }}!<br/>
        {% else %}
            hey there partner!<br/>
        {% endif %}



        <strong>{{ boldmessage }}</strong><br/>
    </div>

    <div>
        <h2>Most Liked Categories</h2>
        <!-- if categories has any element in it: -->
        <!--  these brackets for Django commands -->
        {% if categories %} 
            <ul>
                {% for category in categories %}
                <!-- to display the category name from the list: -->
                <!-- these bracket for Django variables which will be placed on page -->
                <!-- category.slug is from Category in models.py -->
                <!-- old url: /rango/category/{{ category.slug }}/ -->
                    <li><a href=" {% url 'rango:show_category' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        </div>

        <div>
            <h2>Most Viewed Pages</h2>
            {% if pages %}
                <ul>
                    {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no pages present.</strong>
            {% endif %}
        </div>

        <div>
            <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango"/>
        </div>
    
{% endblock %}